@import "base/normalize";
@import "base/pokedex";

@import "pokecenter/venusaur";
@import "pokecenter/charizard";
@import "pokecenter/blastoise";

.hide {
  display: none;
}




input {
  padding: 10px;
  border: none;
  background: $lightblue;
  color: $darkblue
}

.button {
  padding: 10px;
  border: none;
  color: $white;
  background: $orange;
}