@import "base/normalize";
@import "base/fonts";
@import "base/pokedex";

@import "pokecenter/venusaur";
@import "pokecenter/charizard";
@import "pokecenter/blastoise";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.hide {
  display: none;
}

input {
  padding: 15px;
  border: none;
  background: $lightblue;
  color: $darkblue
}

.button {
  padding: 15px;
  border: none;
  color: $white;
  background: $orange;
}
