@import "base/normalize";
@import "base/fonts";
@import "base/pokedex";

@import "pokecenter/venusaur";
@import "pokecenter/charizard";
@import "pokecenter/blastoise";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.hide {
  display: none;
}

input {
  padding: 15px;
  border-radius: 0px;
  background: $lightblue;
  color: $darkblue;
  border: 1px solid $lightblue;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  &:focus {
    background: $beige;
    border: 1px solid $beige;
    outline: none;
  }
}

.button {
  border: 1px solid $orange;
  color: $white;
  background: $orange;
  &:focus {
    outline: none;
    background: $orange;
    border: 1px solid $orange;
  }
}
