---
layout: page
title: About
permalink: /about/
---

<!-- Nosey! Yes we know it isn't Drupal but we're working on something special for next year.  -->

<div class="section no-columns">
	<div class="wrapper">
	 	<h1 class="post-title">{{ page.title }}</h1>
		<p>
      Frontend United, formerly known as Drupal Design Camp, is a yearly European conference that moves from country to country. Its aim is to bring front-end developers, designers and Drupal themers from all kinds of backgrounds closer together and share knowledge, experiences and ideas face-to-face. Frontend United looks to help grow the local community as well as build bridges across Europe for further collaborations and cross-border exchange.
    </p>
	</div>
</div>


{% include team.html %}

<!-- {% include location.html %} -->

