.blastoise {
  padding: 50px 0 30px 0;
  @media screen and (min-width: 635px) {
    padding: 60px 0;
  }
  background: $lightblue;
  text-align: center;
}

.blastoise__wartortle {
  margin: 0 0 20px 0;
  @media screen and (min-width: 635px) {
    display: inline-block;
    margin: 0 20px;
  }
  @media screen and (min-width: 740px) {
    margin: 0 40px;
  }
  .addthis_horizontal_follow_toolbox {
    position: relative;
    top: 5px
  }
}

.blastoise__wartortle a {
  color: $darkblue;
  display: block;
  font-size: 14px;
  font-family: 'DuplaLight-Light';
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  @media screen and (min-width: 635px) {
    text-align: left;
  }
}

.blastoise__wartortle h4 {
  font-size: 19px;
  font-family: 'Dupla-Bold';
  text-transform: none;
  margin: 0px;
}

.addthis_horizontal_follow_toolbox {
  a {
    float: none!important;
    @media screen and (min-width: 635px) {
      float: left!important;
    }
  }
  p {
    display: none;
  }
}