.blastoise {
  background: $lightblue;
  text-align: center;
}

.blastoise__wartortle {
  display: inline-block;
  margin: 0 20px;
}

.blastoise__wartortle a {
  color: $darkblue;
  display: block;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.blastoise__wartortle h4 {
  font-size: 25px;
  text-transform: none;
  margin: 0px;
}

.addthis_horizontal_follow_toolbox {
  p {
    display: none;
  }
}