.charizard {
  padding: 50px 0 60px;
  @media screen and (min-width: $bp2) {
    padding: 100px 0 110px;
  }
  color: $white;
  background: $darkblue;
}



.mailchimp {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  h2 {
    font-family: 'Dupla-Bold';
    font-weight: normal;
    font-size: 23px;
    margin: 0 0 10px 0;
    text-align: center;
    @media screen and (min-width: $bp1) {
      font-size: 25px;
      text-align: left;
    }
    @media screen and (min-width: 635px) {
      font-size: 35px;
    }
  }
  input {
    -webkit-appearance: none;
    width: 100%;
    @media screen and (min-width: $bp1) {
      width: 70%;
      float: left;
    }
  }
  .button {
    width: 100%;
    @media screen and (min-width: $bp1) {
      width: 30%;
    }
  }
  div.mce_inline_error {
    font-family: 'DuplaLight-Light';
    float: left;
    width: 100%;
    margin: 5px 0px!important;
    background: none!important;
    padding: 0px!important;
    color: $orange!important;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

#mc_embed_signup input.mce_inline_error {
  border: 1px solid $orange!important;
}