.charizard {
  color: $white;
  background: $darkblue;
}

.mailchimp {
  max-width: 400px;
  margin: 0 auto;
  h2 {
    margin: 0;
  }
  input {
    float: left;
  }
  &:after {
    content: " "; 
    display: table;
    clear: both;
  }
}