.venusaur{
  background-color: $lightblue;
  text-align: center;
  position: relative;
  padding-top: 80px;
  border-bottom: 20px solid $beige;
  height: 250px;
  @media (min-width: $bp1){
    padding-top: 70px;
  }
  @media (min-width: $bp2){
    height: 400px;
    padding-top: 100px;
    border-bottom: 70px solid $beige;
  }
  @media (min-width: $bp2){
    height: 600px;
  }
  @media (min-width: $bp3){
    height: 920px;
    padding-top: 200px;
    border-bottom: 130px solid $beige;
  }



}

.ivysaur{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 5px;
  height: 176px;
  background: url(../img/lights.svg) center top no-repeat;
  background-size: 2570.6px 175.7px;
  @media (min-width: $bp2){
    height: 352px;
    top: 10px;
    background-size: 5141.2px 351.4px;
  }
}

.logo{
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 0 25px;
  margin: auto;
  @media (min-width: $bp1){
    padding: 0;
    width: 60%;
    margin: 0 15% 0 5%;
  }
  @media (min-width: $bp3){
    width: 800px;
  }
  @media (min-width: $bp2){
    margin: auto;
  }
  img{
    width: 100%;
  }
}

.pallet-town{
  height: 614px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pallet-town__container{
  position: relative;
  overflow: hidden;
  max-width: 1500px;
  margin: 0 auto;
  height: 614px;
}

.building--gym {
  display: none;
  @media (min-width: $bp2){
    display: block;
    left: 2%;
  }
   @media (min-width: $bp3){
    left: 15%;
  }
  position: absolute;
  bottom: 0px;
  width: 200px;
}
.building--pokecenter {
  left: 35%;
  position: absolute;
  bottom: -68px;
  width: 200px;
  display: none;
  @media (min-width: $bp4){
    display: block;
  }
}
.building--bikeshop {
  display: none;
  @media (min-width: $bp2){
    display: block;
    right: 30%;
  }

  @media (min-width: $bp4){
    right: 25%;
  }

  position: absolute;
  bottom: -2px;
  width: 200px;
}
.building--teamrockethq{
  opacity: 0.7;
  right: -2%;
  position: absolute;
  width: 130px;
  @media (min-width: $bp1){
    opacity: 1;
    right: 2%;
  }
  @media (min-width: $bp2){
    right: 0%;
    width: 200px;
  }
  @media (min-width: $bp3){
    width: 250px;
  }
  bottom: 0px;
}
