<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>Drupal is a <a href="http://drupal.com/trademark">registered trademark</a> of <a href="http://buytaert.net/">Dries Buytaert</a>.</p>

        <p>Frontend United is organized by members of the Drupal community with the backing of the Drupal Association.</p>
      </div>

      <div class="footer-col  footer-col-2">

      </div>
    </div>

  </div>

</footer>
