<header class="site-header">

  <div class="wrapper">
      <a class="site-title" title-"Frontend United" href="{{ site.baseurl }}/">{{ site.title }}</a>
       <a href="{{ site.baseurl }}/" title="Frontend United Bristol 2015" rel="home" class="site-logo"><img src="../public/images/site-logo.png" alt="<?php print t('Home'); ?>" /></a>
       <div class="event-dates">{{ site.dates }}</div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
