<header class="site-header">

  <div class="top-wrapper">
    <div class="wrapper-left">
      <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/public/images/FrontendUnitedLogoDark.svg" onerror="this.onerror=null; this.src='FrontendUnitedLogoDark.png'" alt="{{ site.title }}"></a>
    </div>
    <div class="wrapper-right">
      <img class="slogan" src="{{ site.baseurl }}/public/images/slogan.svg" onerror="this.onerror=null; this.src='slogan.png'" alt="Design. Code. Share">
    </div>

    <div class="wrapper-center">
      <a href="{{ site.baseurl }}/" rel="home" class="site-logo"><img src="{{ site.baseurl }}/public/images/Bristol.svg" onerror="this.onerror=null; this.src='Bristol.png'" alt="Bristol"></a>
      <div class="event-dates">{{ site.dates }} - 80 Stokes Croft, Bristol</div>
    </div>

  </div>

  <nav class="site-nav">
    <div class="wrapper">
      <a href="#" class="menu-icon" aria-label="Site navigation">Menu
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="https://ti.to/frontendunited/bristol-2015" class="page-link site-nav_buy" title="Buy your ticket today">Buy a ticket</a>
      </div>
    </div>
  </nav>

</header>
