<div class="section no-columns location">
  <div class="wrapper">
    <h2>Bristol</h2>
    	<p>Bristol is one hell of a city and we think you frontend folks are going to love it. Beautiful things happen in Bristol, from the magnificent Victorian engineering of the Clifton suspension bridge and the birth place (and resting place) of Concorde to filming location for shows like Sherlock and Dr Who and controversial graffiti - this is Banksy's hometown after-all.  </p>
    <h2>Travel</h2>
    	<h3>Planes</h3>
    		<p> You can fly in to Bristol Airport from several European locations and it's simple enough to get into the city centre. </p>
    	<h3> Trains</h3>
    		<p>Or you can take the train direct from London Paddington in around 2 hours.  </p>
    	<h3>Automobiles</h3>
    		<p>M32... busy. Closest car park... </p>

    <h2>Hotels</h2>
    	<p> We think you should stay here </p>
  </div>
</div>