<div class="section photo photo-1 no-columns">
  <div class="wrapper">
    <h2>Grab your ticket now</h2>
    <p>Tickets are available now and gives you access to the entire event.</p>
    <a href="https://ti.to/frontendunited/bristol-2015" class="button" title="Buy your ticket today"> Buy ticket now</a>
    <p><strong>Early bird</strong> until 30th April <strong>£45</strong> </p>
    <p><strong>Standard ticket</strong> 1st May - 1st June <strong>£65</strong></p>
    <p><strong>Late-comers</strong> 1st June - Showtime <strong>£85</strong></p>
  </div>
</div>