<div class="section no-columns">
  <div class="wrapper">
    <h1>Schedule</h1>
    <!-- Friday -->
 	<table>
	 	<tbody>
	 		 <tr>
	    		<th>Friday</th>
	  		</tr>
	 		<tr>
	    		<td class="time">15:00-19:00</td>
	    		<td>Hamilton House - Lightning talks, sprinting and meet the team. </td> 
	    		<td> </td>
	  		</tr>
	  	</tbody>
	</table>
   <!-- Saturday  -->
 	<table>
	 	<tbody>
	 		<tr>
	    		<th>Saturday</th>
	  		</tr>
	 		<tr>
	    		<td class="time">09:30-10:00</td>
	    		<td>Registration </td> 
	    		<td> </td>
	  		</tr>
	  		<tr>
	    		<td class="time">10:00-10:45</td>
	    		<td>Afra Noubarzadeh </td> 
	    		<td><a href="#afra">CSS live coding</a> </td> 
	  		</tr>
	  		<tr>
	    		<td class="time">10:50-11:35</td>
	    		<td>Adam Onishi</td> 
	    		<td><a href="#adam">Taking the pain out of refactoring</a></td> 
	  		</tr>
	  		<tr class="break">
	    		<td class="time">11:40-12:00</td>
	    		<td> Tea Break</td> 
	    		<td> </td>
	  		</tr>
	  		<tr>
	    		<td class="time">12:00-13:50</td>
	    		<td>Chris Ruppel </td> 
	    		<td><a href="#chris">Automated Frontend Testing</a> </td> 
	  		</tr>
	  		<tr class="break">
	    		<td class="time">13:50-15:30</td>
	    		<td>Lunch </td> 
	    		<td>Go and explore the <a href="http://pinterest.com/frontendunited/bristol-food">local eateries</a>  </td> 
	  		</tr>
	  		<tr>
	    		<td class="time">15:30-16:15</td>
	    		<td>Lisa Rex </td> 
	    		<td><a href="#lisa">User Research for Fun and Profit</a> </td> 
	  		</tr>
	  		<tr>
	    		<td class="time">16:20-17:00</td>
	    		<td>Rupert Jabelman </td> 
	    		<td><a href="#ru">Head-transplating Drupal with Twig and Silex</a></td> 
	  		</tr>
	  		<tr class="break">
	    		<td class="time">17:00-17:15</td>
	    		<td>Tea break </td>
	    		<td> </td> 
	  		</tr>
	  		<tr>
	    		<td class="time">17:15-18:00</td>
	    		<td>Edward O'Riordan</td> 
	    		<td><a href="#edward">A year designing with data</a></td> 
	  		</tr>
	  		<tr>
	    		<td class="time">18:00-18:45</td>
	    		<td>MortenDK </td> 
	    		<td><a href="#viking">I <3 Drupal8 and Twig </a></td> 
	  		</tr>
	  		<tr class="party">
	    		<td class="time">18:45-late</td>
	    		<td>After party</td> 
	    		<td>The Rummer</td> 
	  		</tr>
	  	</tbody>
	</table>
    <!-- Sunday -->
 	<table>
	 	<tbody>
	 		<tr>
	    		<th>Sunday</th>
	  		</tr>
	 		<tr>
	    		<td class="time">10:00-15:00</td>
	    		<td>Sprints </td> 
	    		<td> </td>
	  		</tr>
	  	</tbody>
	</table>
    <p>Times may change</p>
    <section class="sessions">
	    <h1> Sessions in depth</h1>
	    <article id="afra">
	    	<img src="/public/images/afra.jpg" alt="Afra" />
	    	<h2> Afra Noubarzadeh - CSS live coding</h2>
	    	<p> Afra makes art with CSS and he's going to show us how! </p>
	    </article>
	    <article id="adam">
	    	<img src="/public/images/adam.png" alt="Adam" />
	    	<h2> Adam Onishi - Taking the pain out of refactoring</h2>
	    	<p> Refactoring can be tough. But refactoring doesn’t have to be a painful experience. It can be a joy, to watch your code improve, become more succinct, more thought out, and more performant is fantastic. </p>
			<p>In this talk, I’ll cover some of the great sides to refactoring a front-end project, looking at recent work from a large project refactor I’ve been working on. I’ll look at how you can set goals, outline rules for your code, and take a look at tools that help make the job easier. As well as things like how to prepare your state of mind for what can be a very tough process.</p>
	    </article>
	    <article id="chris">
	    	<img src="/public/images/chris.jpg" alt="Chris" />
	    	<h2> Chris Ruppel - Automated Frontend Testing</h2>
	    	<p> Chris will walk us through why do we need frontend testing and show us some examples on how to do it.  </p>
	    </article>
	    <article id="lisa">
	    	<img src="/public/images/lisa.jpg" alt="Lisa" />
	    	<h2> Lisa Rex - User Research for Fun and Profit</h2>
	    	<p> Getting to know your users is one of the greatest investments that a project team can make. Conducting user research before diving into design and build is the best way to reduce the risk of creating something unhelpful or or the dreaded "usable, but ultimately unwanted", at great expense (time, money, stress, technical debt). This isn't a talk about techniques (as you can find a lot all that on the internet!) but a lot of practical, road-tested tips to make your research investment pay off, as well as have fun along the way. </p>
			<p>P.S. Lean UX. It's good. </p>
	    </article>
	    <article id="ru">
	    	<img src="/public/images/rupert.jpg" alt="Rupert" />
	    	<h2> Rupert Jabelman - Head-transplating Drupal with Twig and Silex</h2>
	    	<p> Take Drupal and how it's themed back-to-basics by giving it a head transplant. Ru will show you how to set up a Silex app with Twig for templating, using Data from Drupal 7. </p>
	    </article>
	    <article id="edward">
	    	<img src="/public/images/edward.png" alt="Edward" />
	    	<h2> Edward O'Riordan - A year designing with data</h2>
	    	<p> Data and design are often seen as incompatible. Design is empathic, emotive, and artful. It is a craft that can not be fully rationalised, reduced to numbers, or planned in advance. Data, on the other hand, is rational and objective. It is a scientific endeavour that proceeds in a formulaic way toward certainty.</p>
	    </article>
	    <article id="viking">
	    	<img src="/public/images/morten.jpg" alt="Morten" />
	    	<h2> MortenDK - Drupal 8 Theming with <3 </h2>
	    	<p> Drupal 8 has many new exciting features, but none are as radical or as needed as the changes made to the theme system*! </p>
	    </article>
	</section>
  </div>

</div>
