<div class="section team three-column">
  <div class="wrapper">
    <h2> Meet the team</h2>
    <div class="column">
      <img src="{{ site.baseurl }}/public/images/glenn.jpg" alt="Glenn Barr" />
      <h3>Glenn Barr</h3>
      <p>This is Glenn's first year helping out with organising Frontend United, he's brought forward some great ideas and lots of local knowledge. </p>
      <a href="https://twitter.com/kiwimind" class="twitter">@kiwimind</a>
    </div>
    <div class="column ">
      <img src="{{ site.baseurl }}/public/images/philippe.jpg"  alt="Philippe" />
      <h3>Philippe Gervaise</h3>
      <p>As always Philippe has spent this year crafting our brand, he's a graphical wizard and we'd be lost without him.</p>
      <a href="https://twitter.com/malvese" class="twitter">@malvese</a>
    </div>
     <div class="column last">
      <img src="{{ site.baseurl }}/public/images/emma.png" alt="Emma" />
      <h3>Emma Karayiannis</h3>
      <p>Emma whipped up this wonderful website in her sleep and found us a few of our amazing speakers on her travels. </p>
      <a href="https://twitter.com/emma_maria88" class="twitter">@emma_maria88</a>
    </div>
    <div class="column row-2">
      <img src="{{ site.baseurl }}/public/images/justine.jpg" alt="Justine" />
      <h3>Justine Pocock</h3>
      <p>Keeper of the books and ultimate bossy-boots.</p>
      <a href="https://twitter.com/wigglykoala" class="twitter">@wigglykoala</a>
    </div>
    <div class="column row-2">
      <img src="{{ site.baseurl }}/public/images/morten.jpg" alt="Morten" />
      <h3>... And Morten DK</h3>
      <p>The eye candy with a big mouth... need we say more ;)</p>
      <a href="https://twitter.com/mortendk" class="twitter">@mortendk</a>
    </div>
    <div class="column row-2 last">
      <img src="{{ site.baseurl }}/public/images/heart.svg" onerror="this.onerror=null; this.src='heart.png'" alt="Heart logo" />
      <h3>Special thanks to...</h3>
      <p> Karen Leech, Tom Bamford, Rupert Jabelmen, Greg Harvey and Kris Klinkhammer </p>
    </div>

  </div>
</div>
