<div class="section no-columns">
  <div class="wrapper">
    <h2>Shaken up!</h2>
    <p>We've changed things around a little this year and we've got a single focussed track on Saturday and the rest of the time is for sprinting, lightening talks and bofs. The idea is that we will all make a push towards helping complete Drupal 8. It doesn't matter if you can't code or don't think you have the skills, we can find something for you to do. Your opinion on things is just as important! </p>
  </div>
</div>