<div class="section no-columns">
  <div class="wrapper">
    <h1>Bristol baby!</h1>
    <img src="public/images/map.jpg" alt="I am a cat" />
    <p>In May we’re heading to <a href="http://www.hamiltonhouse.org/">Hamilton House in Bristol</a> and we want you to join us for a weekend of Drupal’s Frontend and all it's dangly bits. Three days of awesome talks where design and Drupal meet and make warm fuzzies in your belly. Plus some Drupal sprinting thrown in! </p>
    <h2>You can take our date but you cannot take our themers!</h2>
    <p>You may have noticed that <a href="http://montpellier2015.drupaldays.org/">Drupal Dev Days</a> is the same weekend we orginally announced. We were working with Drupal Dev Days on having joint keynotes and combining the events somehow but the outcry on twitter was too great to leave things unchanged. We were able to work with our venue to change the date so we have. Hopefully this means some of you will be able to attend both events. <strong>Two events means double the amount of sprinting and more Drupal awesomeness.</strong> </p>
  </div>
</div>