<div class="section no-columns">
  <div class="wrapper">
    <img src="public/images/map.jpg" alt="Bristol, UK" />
    <h2>You can take our date but you cannot take our themers!</h2>
    <p>You may have noticed that <a href="http://montpellier2015.drupaldays.org/">Drupal Dev Days</a> is the same weekend we orginally announced. We were working with Drupal Dev Days on combining the events somehow but the outcry on twitter was too great to leave things unchanged. We were able to work with our wonderful venue to change the date so we have.</p><p><strong>Two events means double the amount of sprinting and more Drupal awesomeness.</strong> </p>
  </div>
</div>