<div class="section three-column">
  <div class="wrapper">
    <div class="column">
      <img src="public/images/lightning.svg" onerror="this.onerror=null; this.src='lightning.png'" alt="Lightning talks - Friday evening" />
      <h2>Friday - Sprinting & lightning talks</h2>
      <p>Come along from 4pm. Meet the organisers, catch up with mates. Contribute and shout about whatever you want!</p>
    </div>
    <div class="column">
      <img src="public/images/ear.svg" onerror="this.onerror=null; this.src='ear.png'" alt="Conference day - Saturday" />
      <h2>Saturday Conference day 1</h3>
      <p>We will blow your pretty mind. We've got some great speakers lined up for today. They'll inspire, motivate and maybe even educate you!</p>
    </div>
    <div class="column last">
      <img src="public/images/trainer.svg" onerror="this.onerror=null; this.src='trainer.png'" alt="Sprint day - Sunday " />
      <h2>Super Sunday Sprint day</h3>
      <p>There is no rest this Sunday - We want you to help us make Drupal 8 awesome. Come sprint with us and let's FRONTEND HARDER!</p>
    </div>
  </div>
</div>