<div class="section two-column">
  <div class="wrapper">
    <div class="column">
      <img src="public/images/afra.jpg" alt="Afra" />
      <h2>Afra Noubarzadeh</h2>
      <p>Here is where your socks are going to get blown off. Afra creates wonderful artwork, only with CSS... he'll do some live, just for us!</p>
    </div>
    <div class="column last">
      <img src="public/images/lisa.jpg" alt="Lisa" />
      <h2>Lisa Rex</h2>
      <p>Lisa is an amazing User experience designer and she's going to be making Frontend United an experience you won't forget!</p>
    </div>
  </div>
</div>
