<div class="section no-columns">
  <div class="wrapper">
    <h2>Hamilton House</h2>
    <p><strong>80 Stokes Croft, Avon, Bristol BS1 3QY</strong></p>
    <p>We're excited to be at Hamilton house this year and we think you're going to love it. </p>
  </div>
</div>


<div class="section two-column">
  <div class="wrapper">
    <div class="column">
      <img src="/public/images/btm.png" alt="Bristol Temple Meads station" />
      <h2>Travel</h2>
      <p><strong>Trains: </strong>Bristol Temple Meads station is the main station and in the City centre. If you're going straight to the venue it will be a 40 minute walk - so it might be best to get a taxi or bus from outside the station.</p>
      <p><strong>Buses: </strong>There is a strong bus <a href="">network in Bristol</a> with a dayrider ticket costing £4.40 giving you unlimited travel for one day right through until 4.29am the following morning. There are buses throughout the night, but less frequently so do keep an eye on the timetable. The number 70 or 71 will get to you Hamilton House.</p> 
      <p><strong>Walking: </strong>Bristol is a compact city and most places are within a short walk. We do however recommend that if you have problems with walking that you catch the bus from Hamilton House to the After Party at The Rummer as it may take about 30 minutes. </p>
      <p><strong>Parking: </strong>There very limited parking at Hamilton House and we have to pay for a permit to park so unless you've a valid reason there isn't parking at the venue. If you're disabled or feel you need a parking space please email Justine on info@frontendunited.org</p>
      <h2>Accommodation</h2>
      <p>There are plenty of hotels in Bristol city centre ranging from budget to boutique. You should expect to pay about £80 per night for a budget hotel. There are also hostels around the Quay and airBnB is popular here.</p>
    </div>
    <div class="column last">
      <img src="/public/images/pieminister.png" alt="pieminister - originated in Bristol" />
      <h2>Food</h2>
      <p>Following on from previous years we are having a long lunch break to give you time to go wander the local area and find something yummy to eat.</p>
      <p><a href="https://www.pinterest.com/frontendunited/bristol-food/" title="pinterest board of food in the local area.">Here is a Pinterest board</a> with a few places to try out nearby.</p>
       <img src="/public/images/rummer.png" alt="The Rummer - Our after party venue" />
       <h2>After party (Saturday night)</h2>
      <p>We have hired a space at <a href="https://www.pinterest.com/pin/388787380308640744/" title="pinterest link to the rummer">The Rummer</a> on Saturday and we'd love you to join us for a few 'classy' drinks on us. There will be drinks vouchers you can spent on beer, wine and put towards cocktails.</p>
      <p>The Rummer has a no shots policy and there won't be loud music so you can sit and chat to friends, if you want to party afterwards we can show you many places to go.</p>
    </div>
  </div>
</div>