<div class="section two-column">
  <div class="wrapper">
    <div class="column">
      <img src="public/images/afra.jpg" alt="Afra" />
      <h2>Afra Noubarzadeh</h2>
      <p>Here is where your socks are going to get blown off. Afra creates wonderful artwork, only with CSS... he'll do some live, just for us!</p>
    </div>
    <div class="column last">
      <img src="public/images/lisa.jpg" alt="Lisa" />
      <h2>Lisa Rex</h2>
      <p>Lisa is an amazing User experience designer and she's going to be making Frontend United an experience you won't forget!</p>
    </div>
  </div>
</div>

<div class="section no-columns" id="bofs-sprints">
  <div class="wrapper">
    <h2> Sprints</h2>

    <p>As well as the Twig army blasting their way through the theming layer of Drupal 8 we will be running a <a href="https://www.drupal.org/project/issues/drupal?version=8.x&component=documentation">Documentation sprint</a><p>
    <p> This sprint will be a great way to get familiar with Drupal 8, perfect if you've never contributed before but want to help. </p>

    <h2> BoFs</h2>
    <p> Please email info@frontendunited.org to submit your BoFs suggestions, or wait until the weekend and add them to the board.</p>

    <h3>Site building - What happens before you even start?</h3>
    <p>Exchanging tips and tricks of what happens <strong>before</strong> you build a site.</p>
    <p>How do you asses what the client wants, or whether they understand what you propose? if they really comprehend your proposal?</p>
    <p>When upgrading or updating an existing site built by someone else what do you do to assess the site, and avoid pitfalls?</p>
    <p>Do you have a standard contract? Do you specify a workflow? Do you give clients your telephone number? Do you make them use an issue queue? </p>
    <p>If a client has a design or a designer, how do you assess if it is workable, or they can implement it properly in Drupal? </p>

    <p>Bring your tips, tricks and tools so that we can exchange our experiences and reasons.</p>
    <p>If you - or somebody you know - can't attend, please contact me and I'll include your contributions in the BoF.</p>
  </div>
</div