<div class="section two-column">
  <div class="wrapper">
    <div class="column">
      <img src="public/images/cat.jpg" alt="I am a cat" />
      <h2>I am a title woop</h2>
      <p>Fusce fermentum. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Praesent egestas neque eu enim. Nam adipiscing. In ut quam vitae odio lacinia tincidunt.
      Morbi vestibulum volutpat enim. Vivamus laoreet. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nullam sagittis. Phasellus ullamcorper ipsum rutrum nunc.</p>
    </div>
    <div class="column last">
      <img src="public/images/cat.jpg" alt="I am a cat" />
      <h2>I am a title woop</h2>
      <p>Fusce fermentum. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Praesent egestas neque eu enim. Nam adipiscing. In ut quam vitae odio lacinia tincidunt.
      Morbi vestibulum volutpat enim. Vivamus laoreet. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nullam sagittis. Phasellus ullamcorper ipsum rutrum nunc.</p>
    </div>
  </div>
</div>
