
// HEADING
// =============================================================================

header {
  background: #ea5d34;
  .top-wrapper {
    margin: 0 auto .5em;
    overflow: hidden;
    padding: 0 4%;
    @media (min-width: 1024px) {
      padding: 0 2%;
      max-width: 1024px;
    }

  }
  .site-logo  img {
    width: 75%;
  }
  .site-title img {
    margin-top: 14%;
    width: 85%;
  }
  .slogan {
    margin-top: 14%;
    width: 68%;
  }
  .event-dates {
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    @media (min-width: 768px) {
      clear: both;
    }
  }

  @media (min-width: $on-palm +1) {

    .top-wrapper {
      margin-top: 1.5em;
    }
    .site-nav {
      background-color: #3C3C3B;
      clear: both;
      color: #fff;
      font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
      font-size: 20px;
      height: 2em;
      text-transform: uppercase;
      .page-link {
        color: #fff;
        display: inline-block;
        padding: .2em;
      }
      .site-nav_buy {
        background-color: #ea5d34;
        border-top: 2px dotted #3C3C3B;
        height: 2.2em;
        padding-left: 1.45em;
        padding-right: 1.45em;
      }
    }

  }

}




.wrapper-left {
  float: left;
  width: 50%;
  @media (min-width: 768px) {
    text-align: left;
    width: 25%;
  }
}
.wrapper-center {
  clear: both;
  padding-top: 1.5em;
  text-align: center;
  @media (min-width: 768px) {
    clear: none;
    float: left;
    padding-top: 0;
    width: 50%;
  }
}
.wrapper-right {
  float: right;
  text-align: right;
  width: 50%;
  @media (min-width: 768px) {
    width: 25%;
  }
}
